$border-settings: 1px solid hsl(0, 0%, 80%);

.Card {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 0;
    background-color: hsla(200, 20%, 95%, 0.6);
    color: var(--apps_text_color);
    caret-color: transparent;
    > .Card__Header {
        text-align: center;
        min-height: 1em;
        padding: 0.5em 1em;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: $border-settings;
    }
    > .Card__Body {
        min-height: 2.5em;
        padding: 0.5em 1em;
        border: $border-settings;
        border-top: unset;
    }
    > .Card__Footer {
        min-height: 1em;
        padding: 0.5em 1em;
        border: $border-settings;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top: unset;
    }
}
