$border-settings: 1px solid hsl(0, 0%, 80%);

.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 0;
  background-color: hsla(200, 20%, 95%, 0.6);
  color: var(--apps_text_color);
  caret-color: transparent;
  > .card_header {
    text-align: center;
    min-height: 1em;
    padding: 0.5em 1em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: $border-settings;
  }
  > .card_body {
    min-height: 2.5em;
    padding: 0.5em 1em;
    border: $border-settings;
    border-top: unset;
  }
  > .card_footer {
    min-height: 1em;
    padding: 0.5em 1em;
    border: $border-settings;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: unset;
  }
}
